html,
body {

    background-image: url(bilder/berries_1000x700-790x310.webp)no-repeat center center fixed;

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover, contain;
    height: 100vh;
    margin: 0;
}

.bg {
    /* The image used */
    background-image: url(bilder/berries_1000x700-790x310.webp);

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover, contain;
}



main {
    flex-grow: 1;
}

header,
main,
footer {
    flex-shrink: 0;
}



.container-fluid {
    width: 100%;
    background: url('/bilder/berries-bg.webp') no-repeat center center fixed;
}

.container {
    background: url('/bilder/berries-bg.webp') no-repeat center center fixed;

}